groups = ['securityGroup','Group_2']                                             
users = [ ['wasdeploy','wasdepl0y','name','surname',''],['wasmonitor','wasmonitOr','name','surname',''] ]                    
userToGroups = [['wasdeploy','securityGroup']]                                    
UsersToRoles =[['wasdeploy',['administrator','adminsecuritymanager']],['wasmonitor',['administrator','adminsecuritymanager']]]